<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayo Baca | Books</title>
</head>
<body>
    <h1>All Books</h1>
    <table border="1">
        <thead>
            <th>no</th>
            <th>title</th>
            <th>author</th>
            <th>country</th>
            <th>pages</th>
            <th>language</th>
            <th>release year</th>
        </thead>
        <tbody>
            <% books.forEach(book => { %>
                <tr>
                    <td><%= book.id %> </td>
                    <td><%= book.title %> </td>
                    <td><%= book.author %> </td>
                    <td><%= book.country %> </td>
                    <td><%= book.pages %> </td>
                    <td><%= book.language %> </td>
                    <td><%= book.released_year %> </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>