<%- include('./element/header') %>
    <h1>All Books</h1>
    <a href="/books/add">add books</a>
    <table border="1">
        <thead>
            <th>no</th>
            <th>title</th>
            <th>author</th>
            <th>country</th>
            <th>pages</th>
            <th>language</th>
            <th>release year</th> 
            <th colspan="2">Action</th> 
        </thead>
        <tbody>
            <% books.forEach(book => { %>
                <tr>
                    <td><%= book.id %> </td>
                    <td><%= book.title %> </td>
                    <td><%= book.author %> </td>
                    <td><%= book.country %> </td>
                    <td><%= book.pages %> </td>
                    <td><%= book.language %> </td>
                    <td><%= book.released_year %> </td>
                    <td><a href="/books/<%= book.id %>/edit">edit</a> </td>
                    <td><a href="/books/<%= book.id %>/delete">delete</a> </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>