<%- include('./element/header') %>
    <h1>All Borrowing</h1>
    <a href="/borrowings/add">add borrow</a>
    <table border="1">
        <thead>
            <th>no</th>
            <th>title</th>
            <th>borrower</th>
            <th>date of borrow</th>
            <th>expired borrowing</th>
            <th>status</th>
            <th>action</th>
        </thead>
        <tbody>
            <% borrowings.forEach(borrowing => { %>
                <tr>
                    <td><%= borrowing.id %> </td>
                    <td><%= borrowing.Book.title %> </td>
                    <td><%= borrowing.Profile.name %> </td>
                    <td><%= formatDate(borrowing.createdAt) %> </td>
                    <td><%= formatDate(borrowing.expiredBorrow()) %> </td>
                    <td>
                        <% if(!borrowing.status) { %>
                            <%= borrowing.expiredBorrow() !== new Date() ? "Still Borrow" : "returned" %>
                            <% }else{ %>
                                returned
                            <% } %>
                     </td>
                    <td><% if(!borrowing.status){ %>
                            <a href="/borrowings/<%= borrowing.id %>/returned">return</a>
                        <% } else { %>
                              returned
                        <% } %>
                    </td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>