<%- include('./element/header') %>
    <h1>Form Borrow</h1>
    <form method="POST">
        <label>choose Borrower</label><br>
        <select name="ProfileId">
            <% profiles.forEach(profile => { %>
                <option value="<%= profile.id %>"><%= profile.name %> </option>
            <% }) %> 
        </select><br>
        <label>choose Book</label><br>
        <select name="BookId">
            <% books.forEach(book => { %>
                <option value="<%= book.id %>"><%= book.title %> </option>
            <% }) %> 
        </select><br><br>
        <input type="submit" value="borrow">
    </form>
</body>
</html>