<%- include('./element/header') %>
    <h1>All Profiles</h1>
    <a href="/profiles/add">add Profile</a>
    <table border="1">
        <thead>
            <th>no</th>
            <th>name</th>
            <th>address</th>
            <th>gender</th>
            <th>age</th>
            <th colspan="3">action</th>
        </thead>
        <tbody>
            <% profiles.forEach(profile => { %>
                <tr>
                    <td><%= profile.id %> </td>
                    <td><%= profile.name %> </td>
                    <td><%= profile.address %> </td>
                    <td><%= profile.gender %> </td>
                    <td><%= profile.age() %> </td>
                    <td><a href="/profiles/<%= profile.id %>">see point</a></td>
                    <td><a href="/profiles/<%= profile.id %>/edit">edit</a></td>
                    <td><a href="/profiles/<%= profile.id %>/delete">delete</a></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>