<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayo Baca | Profiles</title>
</head>
<body>
    <h1>All Profiles</h1>
    <table border="1">
        <thead>
            <th>no</th>
            <th>name</th>
            <th>address</th>
            <th>gender</th>
            <th>age</th>
            <th>action</th>
        </thead>
        <tbody>
            <% profiles.forEach(profile => { %>
                <tr>
                    <td><%= profile.id %> </td>
                    <td><%= profile.name %> </td>
                    <td><%= profile.address %> </td>
                    <td><%= profile.gender %> </td>
                    <td><%= profile.age() %> </td>
                    <td><a href="/profiles/<%= profile.id %>">see</a></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</body>
</html>